Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed to facilitate efficient storage, retrieval, and manipulation of data. It provides a way to store and manage large amounts of information in a structured manner.

Differentiating between SQL and NoSQL databases:

SQL Databases:

SQL (Structured Query Language) databases are based on the relational data model, where data is organized into tables with predefined schemas.
SQL databases use a structured and predefined schema, meaning the structure of the data is determined before storing it.
SQL databases ensure data integrity through the use of primary keys, foreign keys, and constraints.
They typically provide ACID (Atomicity, Consistency, Isolation, Durability) properties, which guarantee data consistency and transactional integrity.
SQL databases use a SQL language to perform queries and manipulations on the data.
Examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

NoSQL Databases:

NoSQL (Not only SQL) databases are non-relational databases that provide flexible and schema-less data models.
NoSQL databases are designed to handle large-scale, distributed data, and can handle unstructured, semi-structured, and rapidly changing data types.
They do not enforce a predefined schema, allowing for dynamic and flexible data structures.
NoSQL databases are horizontally scalable, meaning they can handle high traffic and large amounts of data by distributing it across multiple servers.
They often provide eventual consistency, which allows for faster performance but sacrifices strict data consistency.
NoSQL databases use various data models such as key-value, document, columnar, and graph-based.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

The CREATE statement is used to create database objects such as tables, indexes, views, or schemas.
CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT
);

The DROP statement is used to delete or remove existing database objects from the database.
DROP TABLE Employees;

The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns, modifying constraints, or renaming objects.

ALTER TABLE Employees
ADD salary DECIMAL(10, 2);

The TRUNCATE statement is used to remove all rows from a table, but keep the table structure intact.
TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to retrieve, insert, update, and delete data in a database. DML statements are used to manipulate the data stored within the database tables.

The INSERT statement is used to add new records or rows into a table.

INSERT INTO Employees (id, name, age)
VALUES (1, 'John Doe', 30);

The UPDATE statement is used to modify or update existing records in a table.

UPDATE Employees
SET age = 35
WHERE id = 1;

The DELETE statement is used to remove one or more rows from a table.

DELETE FROM Employees
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve or query data from a database.

The SELECT statement is used to retrieve data from a database table. It allows you to specify the columns you want to retrieve, the table you want to query, and any conditions or criteria for filtering the data.

SELECT name, age
FROM Employees
WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table.

It serves as a unique identifier for each row, ensuring the integrity and uniqueness of the data.

A primary key must have the following properties:

- It must contain a unique value for each row in the table.
- It must have a value for every row (cannot be NULL).
- There can be only one primary key per table.
- The primary key is often used as a reference point for establishing relationships with other tables through foreign keys.

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table.

It establishes a relationship between two tables, known as a parent-child relationship or a master-detail relationship.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM employees")
result = cursor.fetchall()

# Process the query result
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

The cursor() method returns a cursor object, which allows you to execute SQL statements and retrieve data from the database.

The execute() method of the cursor is used to execute SQL queries. You can pass the SQL statement as a parameter to the execute() method, and it will be executed by the database. It can be used to perform various operations like SELECT, INSERT, UPDATE, DELETE, etc.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
- FROM
- WHERE
- GROUPBY
- HAVING
- SELECT
- ORDERBY
- LIMIT/OFFSET